{# 여러 관리자 화면에서 반복 사용하는 관리 메뉴 모음이다 #}
<div class="actions">
  <a class="button button-secondary button-small" href="{{ url_for('admin.users') }}">회원</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.products') }}">상품</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.comments') }}">댓글</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.reports') }}">신고</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.purchases') }}">구매</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.conversations') }}">채팅</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.messages') }}">메시지</a>
  <a class="button button-secondary button-small" href="{{ url_for('admin.audit_logs') }}">로그</a>
</div>
