{# 현재 사용자가 보내거나 받은 거래 원장을 표로 보여준다 #}
{% extends "base.html" %}
{% from "components/data_table.html" import data_table %}
{% from "components/page_header.html" import page_header %}
{% block content %}
{{ page_header('Transactions', '거래 내역', '회원 송금과 상품 구매 내역을 확인합니다.') }}
{% call(item) data_table(['시각', '구분', '보낸 사용자', '받은 사용자', '금액', '메모'], transactions, '거래 내역이 없습니다.') %}
  <tr><td>{{ item.created_at.strftime('%Y-%m-%d %H:%M') }}</td><td>{{ item.kind }}</td><td>{{ item.sender.nickname if item.sender else '-' }}</td><td>{{ item.receiver.nickname if item.receiver else '-' }}</td><td>{{ item.amount_krw|krw }}</td><td>{{ item.note }}</td></tr>
{% endcall %}
{% endblock %}
